body{
	background-color: linear-gradient(to right, #ffffff, #aaabb1 ,#b6b7c4);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 50px;
  }
  

/*titulo*/

div#titulo{
	width:100%;
	margin-top:100px;
}

p#cabeza{
	text-align: center;
	font-size: 2.5em;
	color:#9a9a9a;
}

p.subcabeza{
	text-align: center;
	color:#642c2c;
	margin-top:20px;
	font-size: 1.3em;
}

.menuopciones {
    margin: 100px auto;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.contenedor a {
    display: flex;
    flex-direction: row; /* Cambiado de column a row */
    align-items: center;
    justify-content: start;
    text-align: center;
    text-decoration: none;
    height: 100%;
    color: white;
    padding: 20px; /* Añadido padding para dar más espacio alrededor del texto y la imagen */
}

div.contenedor{
    width: 410px; /* Incrementado el ancho */
    height: 230px;
    float:left;
    -webkit-transition: height .6s;
    border-radius: 250px;
    margin: 10px;
}



div#uno{
	background-color: #BD1521;
}

div#dos{
	background-color: #F6A400;
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}

div#siete{
	background-color: rgb(15, 36, 51);
}

img.icon{
    display: block;
    margin: 10px 45px 10px 0px; /* Top: 10px, Right: 0px, Bottom: 10px, Left: 0px */
    width:100px;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition:box-shadow .4s;
}


p.texto{
    font-size: 3.2em;
    color:white;
    text-align: left; /* Cambiado de center a left */
    padding-top:10px;
    opacity: .9;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:245px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

a {
    text-decoration: none;
}


.back-button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #0099ff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
}

.back-button:hover {
    background-color: #000000;
    color: #ffffff;
}






















