html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: linear-gradient(to right, #ffffff, #aaabb1 ,#b6b7c4);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
  }


.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 17rem;
    align-items: flex-start; /* esto alineará el texto hacia el inicio del contenedor (la parte superior) */
    padding-top: 20px;
    background-image: linear-gradient(to right, 
                                #47BFE9, 
                                #3C78B9, 
                                #B796C5);
    border-radius: 0 0 20px 20px;
    /*
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.seccion-perfil-usuario .perfil-usuario-portada h1 {
    color: white;
    font-size: 3em;
    font-weight: bold; /* Esto hará que el texto sea en negrita */
    font-family: 'Arial', sans-serif;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 1050px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
    text-align: center;
}

.contenedor-padre {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /* align-items: center; */ /* Si también quieres centrar verticalmente */
  }

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.contenidoreg {
    max-width: 2000px;
    width: 1050px;
    margin: 20px auto;
    background-color: #dedfe8; /* Color de fondo verde agua */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    text-align: center;
  }

.botonagregar {
    background-color: #242c5e; /* Color de fondo azul */
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    float: right; /* Float the button to the right */
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns children to the right */
}
  
  
  .form-register {
    text-align: center;
    color: #020101; /* Color de texto blanco */
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .cliente-table {
    width: 100%; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
  .cliente-header {
    background-color: #195383; /* Color de fondo azul claro */
    color: #fff;
    border-radius: 15px;
  }
  
  .cliente-column {
    padding: 10px;
  }
  
  .cliente-row:nth-child(even) {
    background-color: #49d9fc; /* Color de fondo azul claro alternado */
    border-radius: 5px;
  }
  
  .cliente-row:hover {
    background-color: #bbdefb; /* Color de fondo azul claro al pasar el mouse */
  }


  .eliminar-button{
    background-color: #a7c2a8;
    color: #070505;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  
  .accion-buttons {
    display: flex;
  }
  
  .accion-button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
  }
  
  .editar-button {
    background-color: #0d7785; /* Color de fondo griso  */
    
  }
  
  .eliminar-button {
    background-color: #ff0000; /* Color de fondo rojo */
  }
  
  .eliminar-form {
          display: inline-block;
      }
  
  .accion-button:hover {
    opacity: 0.8;
  }
  
  .back-button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #e2e2e2;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
  }
  
  .back-button:hover {
    background-color: #000000;
    color: #ffffff;
  }

.perfil-usuario-footer {
    margin-top: 20px; /* Adjust the margin as per your preference */
    max-width: 1050px;
}

/* Center the "Datos de Transferencia" heading */
.perfil-usuario-footer h3.titulo {
    text-align: center;
}

/* Style the lista-datos list */
.perfil-usuario-footer .lista-datos {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Add padding to the list items for spacing */
.perfil-usuario-footer .lista-datos li {
    padding: 5px 0;
}

/* Style the icons for the list items */
.perfil-usuario-footer .lista-datos li i {
    margin-right: 10px;
}

.custom-button {
    /* Estilos personalizados para el botón */
    background-color: #241111;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 100px;
    padding-top: -20px;
    /* Otros estilos deseados */
    }
    
.custom-button:hover {
    /* Estilos para cuando el botón se encuentra en estado de "hover" */
    background-color: #ff5555;
}