body{
  background-color: linear-gradient(to right, #ffffff, #aaabb1 ,#b6b7c4);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
}


/* Estilos generales para pantallas grandes */
.contenidoreg {
  max-width: 2000px;
  width: 1600px;
  margin: 20px auto;
  background-color: #c5caeb; /* Color de fondo verde agua */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
}


.form-register {
  text-align: center;
  color: #020101; /* Color de texto blanco */
  background-color: #95badd; /* Color de fondo azul */
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}

.cliente-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cliente-header {
  background-color: #98c2e4; /* Color de fondo azul claro */
  color: #fff;
}

.cliente-column {
  padding: 10px;
}

.cliente-row:nth-child(even) {
  background-color: #e3f2fd; /* Color de fondo azul claro alternado */
}

.cliente-row:hover {
  background-color: #bbdefb; /* Color de fondo azul claro al pasar el mouse */
}

.botonagregar {
  background-color: #242c5e; /* Color de fondo azul */
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;

}

.eliminar-button{
  background-color: #a7c2a8;
  color: #070505;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  display: inline-block;
  width: auto;
  height: auto;
}


.accion-buttons {
  display: flex;
}

.accion-button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
}

.editar-button {
  background-color: #0d7785; /* Color de fondo griso  */
  
}

.eliminar-button {
  background-color: #ff0000; /* Color de fondo rojo */
}

.eliminar-form {
        display: inline-block;
    }

.accion-button:hover {
  opacity: 0.8;
}

.back-button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #0099ff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 25px;
}

.back-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.circulos {
  display: flex;
}

.circulo {
  width: 40px; /* Aumenta el ancho del círculo */
  height: 40px; /* Aumenta la altura del círculo */
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 6px solid transparent; /* Borde transparente */
  font-size: 15px; /* Reduce el tamaño de fuente */
  overflow: hidden; /* Trunca los números largos */
  text-overflow: ellipsis; /* Trunca los números largos */
  white-space: nowrap; /* Trunca los números largos */
}

.azul {
  border-color: #3C78B9; /* Color del borde */
  color: black; /* Color del número */
}

.verde {
  border-color: #72B62F; /* Color del borde */
  color: black; /* Color del número */
}

.naranjo {
  border-color: #F6A400; /* Color del borde */
  color: black; /* Color del número */
}


/* Estilos para pantallas medianas */
@media (max-width: 1200px) {
  .cliente-column {
    width: 1000px;
    width: 100%;
    text-align: center;
  }

  .cliente-header th {

    width: 1000px;
    text-align: center;
    padding: 10px 0;
  }

  .botonagregar {
    display: block;
    margin: 10px auto;
    width: 150px;
    text-align: center;
    border-radius: 50px;
  }

  .contenidoreg {
    padding: 10px;
    width: 1100px;
    overflow-x: auto; /* Agrega scroll horizontal en caso de ser necesario */
  }

  .cliente-table {

    width: 100%;

    border-collapse: collapse;
  }
}


/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .cliente-column {
    display: block;
    width: 100%;
    text-align: center;
  }

  .cliente-header th {
    display: block;
    width: 380px;
    text-align: center;
    padding: 10px 0;
  }

  .botonagregar {
    display: block;
    margin: 10px auto;
    width: 150px;
    text-align: center;
    border-radius: 50px;
  }

  .contenidoreg {
    padding: 10px;
    width: 400px;
    overflow-x: auto; /* Agrega scroll horizontal en caso de ser necesario */
  }

  .cliente-table {
    display: block;
    width: 100%;
    width: 1000px;
    overflow: auto;
  }
}
